<div  class="text-white" style="background-color: black;">
    <div class="row">
        <div class="col-6">
            <h2 class="text-center">Contact us</h2>
            <ul class="text-center" style="list-style-type: none;">
                <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                <li><a href="#"><i class="fab fa-facebook-square"></i> Facebook</a></li>
                <li><a href="#"><i class="fas fa-envelope"></i> Email</a></li>
            </ul>
        </div>
        <div class="col-6 float-end">
            <h2 class="text-center">Address</h2>
            <ul class="text-white text-center" style="list-style-type: none;">
            <li>Flat no:300/5/6-2</li>
            <li>Mobile: +91xxxxxxxxxx</li>
            <li>Kukatpally , Hyderabad</li>
        </ul>
        </div>
    </div>
</div>

