<div class=" card text-white bg-dark mt-5  w-50  d-block mx-auto">
    <ul>
        <li>Instagram Live Video</li>
        <li>IGTV</li>
        <li>Video recording up to 15 seconds.</li>
        <li>Image viewing up to 10 seconds.</li>
        <li>Unlimited story additions.</li>
        <li>Direct messaging within Stories.</li>
        <li>Swipe down on the camera screen to unlock photos and videos from your personal camera roll (You can only access content on your camera roll from the last 7 days)</li>
    </ul>
</div>
