<div class="card">
    <div class="card-item">
        <div class="card-body ">
            <img  width=100% src="https://www.planetware.com/photos-large/IND/india-top-attractions-amer-fort.jpg" alt="">
            <p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="btn-group border rounded ">
            <button class="btn btn-sm border-end border btn-outline-secondary"> like me </button>
            </div>
        </div>  
    </div>
</div>
