<ul class="nav nav-pills  justify-content-evenly mt-5">
    <li class="nav-item ">
      <a class="nav-link bg-warning text-white" routerLink="features" routerLinkActive="active"  >Features Of Instagram</a>
    </li>

    <li class="nav-item">
      <a class="nav-link bg-warning text-white" routerLink="benifits" routerLinkActive="active"  >Benifits Of Instagram</a>
    </li>
    
  </ul>
  <router-outlet></router-outlet>

<div class="container d-block mx-auto">
    <form >
        <input type="text"  class="form-control w-50 mt-5 d-block mx-auto" placeholder="How can we help?" >
    </form>
    <div class="card mt-5 w-75 d-block mx-auto">
        <h2 class="text-dark text-center ">Help Center</h2>
        <hr>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-5">
                <ul class="d-block mx-auto">
                    <li><a href="#">Instagram Features</a></li>
                    <li><a href="#">Manage your account</a></li>
                    <li><a href="#">Privacy,safety,security</a></li>
                    <li><a href="#">Policies and reporting</a></li>
                    <li><a href="#">Instagram for business</a></li>
                </ul>
                <h5>What's New</h5>
                <ul class="d-block mx-auto">
                    <li><a href="#">COVID-19 Information Center</a></li>
                    <li><a href="#">Invite Up to Three Guests to Join Your Live Room</a></li>
                    <li><a href="#">See Content You’ve Recently Deleted on Instagram</a></li>
                    <li><a href="#">Watch Content with Friends on Instagram and Messenger</a></li>
                    <li><a href="#">Do More with Reels</a></li>
                </ul>
                <h5>What's Trending</h5>
                <ul class="d-block mx-auto">
                    <li><a href="#">Taking a Break from Instagram</a></li>
                    <li><a href="#">Login Troubleshooting</a></li>
                    <li><a href="#">Reporting an Account or Post</a></li>
                    <li><a href="#">Signing Up for an Account</a></li>
                    <li><a href="#">Single Login for Multiple Instagram Accounts</a></li>
                    <li><a href="#">Search and Explore</a></li>
                </ul>
            </div>
            <div class="col-3"></div>
        </div>
        
    </div>
</div> 
